.lottery-item-body {
    user-select: none;
    padding: 20px 30px;
    background: #6fe5e436;
    border-radius: 5px;
    height: 160px;
    overflow-y: scroll;
    box-shadow: #ffff0261 2px 4px 1px;
    border: solid 1px #ffffff30;
    font-size: 20px;
}
.lottery-item-body input {
    padding-bottom: 10px;
    font-size: 16px;
}
.lottery-item, .lottery-items-header {
    align-content: center;
    padding: 10px 10px;
    display: flex;

}

.lottery-item {
    border-bottom: 1px dotted #6f7375;
}

.lottery-item .lottery-item-remove {
    visibility: hidden;
    margin-left: 20px;
}
.lottery-item:hover .lottery-item-remove {
    visibility: visible;
}
.lottery-item:hover {
    background: #072028;
}
.drag-handle{
    cursor: move;
}
.lottery-item-name {
    margin-left: 20px;
    display: inline-block;
    flex: 1;
}
.lottery-item-count {
    display: inline;
}
.lottery-items-header {
    padding: 5px 25px 5px 50px;
    color: #ffff02;
    font-size: 1.2em;
}
.lottery-item-add {
    margin-top: 20px;
    cursor: pointer;
}