.activity-setting {
    min-width: 500px;

}
.activity-setting header {
    font-size: 30px;
}
.activity-setting input {
    width: 100%;
    font-size: 25px;
}

.activity-setting section{
    height: 100px;
    margin: 20px 0px;
}
