#input_container textarea {
    background: rgba(3, 169, 244, 0.45);
    height: 380px;
    min-width: 500px;
    max-width: 100%;
    font-size: 20px;
    padding: 10px 50px;
    line-height: 1.2em;
    color: #e1fde4;
    font-weight: lighter;
    word-spacing: 20px;
    tab-size: 20px;
    tab-stops: 10px;
}
#input_container .notice_msg {
    text-align: right;
    height: 30px;
    font-size: 12px;
    padding: 2px;
}

.err_msg {
    color: red;
}

.load_demo {
    color: lightgray;
    font-size: 0.8em;
    float: right;
    cursor: pointer;
    text-decoration: underline;
}

.lottery-pool header {
    font-size: 30px;
}
