.main {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #1f93b8;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}

.header {
  -webkit-app-region: drag;
  cursor: move;
  width: 100%;
  padding: 20px 40px;
  position: fixed;
  display: flex;
  font-size: 24px;
  opacity: 0.6;
  align-items: center;
}
.header img {
  margin: 0px 10px 2px 2px;
}
.footer {
  font-size: 0.9em;
  right:40px;
  position: fixed;
  bottom: 20px;
  font-weight: lighter;
  color: #888888;
}
.footer a {
  color: #979797;
}
button {
  cursor: pointer;
  outline: none;
  color: yellow;
  font-size: 30px;
  background: #6fe4e4;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: none;
}

button.wait {
  cursor: wait;
  background: #a8d6d6;
}

button.disable {
  cursor: not-allowed;
  background: #bccfd6;
  color: #a9bfc6;
}

.next-btn {
  text-align: center;
}
