.main {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: scroll;
}

.header {
  left:40px;
  position: fixed;
  top: 20px;
  font-size: 24px;
  opacity: 0.6;
}
.footer {
  right:40px;
  position: fixed;
  bottom: 20px;
  font-weight: lighter;
  color: #606060;
}
button {
  cursor: pointer;
  outline: none;
  color: yellow;
  font-size: 30px;
  background: #6fe4e4;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: none;
}

.next-btn {
  text-align: center;
}