.result_part {
    overflow: scroll;
    font-size: 20px;
    text-align: center;
}
.result_part header{
    color: yellow;
    font-size: 28px;
    margin-top: 10px;
}
.result_part .result_item{
    display: inline-block;
    padding: 2px 10px;
}
.result_part .result_item .result_name {

}
.result_part .result_item .result_phone {
    font-size: 16px;
    color: #efefef;
}